:root{
    --header-color: #f97316;
    --background-image: url(./images/Pizzoli-logo-RGB-01.jpg);
    --main-color: rgba(0, 0, 0, 0.6);
}

@font-face {
    font-family: pizzeria-font;
    src: url('./fonts/Merianda.ttf');
}

body {
    background-image:var(--background-image);
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--header-color);
    height: 20vh;
    display: flex;
    flex-direction: column;

}

header h1 {
    font-size: 8rem;
    text-align: center;
    font-family: pizzeria-font;
}

header nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2rem;
}

.main{
    width: 50vw;
    height: 80vh;
    background-color: var(--main-color);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    gap: 20px;
    padding-top: 20px;
}

.main img {
    padding-top: 30px;
    width: 300px;
    height: 300px;
}

.card {
    width: 50vw;
    height: 30vh;
    background-color: var(--main-color);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    gap: 20px;
    padding-top: 20px;
}

.footer {
    background-color: var(--main-color);
    text-align: center;
    position: relative;
    bottom: 0;
    height: 100px;
    margin-top: 20px;
}

.footer p{
    padding-top: 20px;
}